.detail {
  margin: 30px auto;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.img-wrapper {
  width: 100%;
}

.detail img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.detail h2 {
  font-size: 20px;
  font-weight: 500;
  color: #red;
}

.detail h3 {
  font-weight: normal;
  font-size: 18px;
  color: red;
}

.detail p {
}
